{% extends 'backend_layout.html.twig' %}

{% block title %}{{ parent() }} Gestion du message de bienvenue{% endblock %}

{% block body %}
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h1 class="page-header-title">Gestion du message de bienvenue</h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h3>{{ fr_bienvenue.titre }}</h3>
                <div class="mt-5">
                    {% if fr_bienvenue.media %}
                        <img src="{{ absolute_url(asset('uploads/bienvenue/' ~ fr_bienvenue.media)) }}" alt="{{ fr_bienvenue.titre }}" class="img-fluid" style="float: left; width: 500px; padding-right: 10px">
                    {% endif %}
                    {{ fr_bienvenue.contenu|raw }}
                </div>
                <div class="input-form-group mt-5">
                    <label for="tags">Mots clés</label>
                    <input type="text" class="form-control" data-role="tagsinput" value="{{ fr_bienvenue.tags }}">
                </div>
            </div>
            <div class="col-12 text-center mt-5">
                <a href="{{ path('app_backend_fr_bienvenue_new') }}" class="btn btn-outline-secondary"><i class="fa fa-reply"></i> Retour à la liste</a>

                <a href="{{ path('app_backend_fr_bienvenue_edit', {'id': fr_bienvenue.id}) }}" class="btn btn-primary"><i class="fa fa-edit"></i> Modifier</a>


            </div>
            <div class="text-end">{{ include('backend_fr_bienvenue/_delete_form.html.twig') }}</div>
        </div>

    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css">
    <link rel="stylesheet" href="{{ absolute_url(asset('backoffice/css/app.css')) }}">
    <style>
        .bootstrap-tagsinput{
        //width: 50%;
            box-shadow: none;
            border: none;
        }
    </style>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>
{% endblock %}