{% extends 'base.html.twig' %}

{% block title %}FrType{% endblock %}

{% block body %}
    <h1>FrType</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fr_type.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ fr_type.titre }}</td>
            </tr>
            <tr>
                <th>PageIndex</th>
                <td>{{ fr_type.pageIndex }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ fr_type.slug }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_backend_fr_type_index') }}">back to list</a>

    <a href="{{ path('app_backend_fr_type_edit', {'id': fr_type.id}) }}">edit</a>

    {{ include('backend_fr_type/_delete_form.html.twig') }}
{% endblock %}
