{% extends 'backend_layout.html.twig' %}

{% block title %}{{ parent() }} Gestion des messages français{% endblock %}

{% block body %}
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h1 class="page-header-title">Gestion des messages français</h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md">
                                <h4 class="card-header-title">Liste des messages français</h4>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        {% for label, messages in app.flashes %}
                            {% for message in messages %}
                                <div class="alert alert-{{ label }}" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}

                        <div class="table-responsive datatable-custom">
                            <table id="liste" class="table">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col" class="table-column-pe-0">#</th>
                                    <th class="text-center">Titres</th>
                                    <th class="text-center">Periodes</th>
                                    <th class="text-center">Statuts</th>
                                </thead>

                                <tbody>
                                {% for info in fr_infos %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td class="table-column-ps-0">
                                            <a href="{{ path('app_backend_fr_info_edit', {'id': info.id}) }}">{{ info.titre }}</a>
                                        </td>
                                        <td class="text-center">
                                            {{ info.debut|date('Y-m-d') }} au {{ info.fin|date('Y-m-d') }}
                                        </td>
                                        <td>
                                            {{ info.statut ? '<span class="badge bg-success">ACTIF</span>' : '<span class="badge bg-danger">DESACTIVE</span>' }}
                                        </td>
                                    </tr>

                                {% else %}
                                    <tr>
                                        <td colspan="4" class="text-center"><em>Aucune information enregistrée</em></td>
                                    </tr>
                                {% endfor %}


                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h4 class="haeder-title">Formulaire</h4>
                    </div>
                    <div class="card-body">
                        {{ include('backend_fr_info/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#liste').DataTable();
        });
    </script>
    <script>
        $(document).ready(function() {
            // you may need to change this code if you are not using Bootstrap Datepicker
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true,
                language: "fr",
                todayHighlight: true,
            });
        });
    </script>
{% endblock %}
