{% extends 'backend_layout.html.twig' %}
{% block title %}{{ parent() }} Tableau de bord{% endblock %}

{% block body %}
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h1 class="page-header-title">Tableau de bord</h1>
                </div>

            </div>
        </div>

        <!-- Stats -->
        <div class="row">

            <!-- Total visiteurs -->
            <div class="col-sm-6 col-lg-3 mb-3 mb-lg-5">
                <a class="card card-hover-shadow h-100" href="#">
                    <div class="card-body">
                        <h6 class="card-subtitle">Total visiteurs</h6>

                        <div class="row align-items-center gx-2 mb-1">
                            <div class="col-12">
                                <h2 class="card-title text-inherit text-end">{{ visiteurs.total|number_format(0,'','.') }}</h2>
                            </div>
                        </div>

                    </div>
                </a>
            </div>
            <!-- End Total visiteurs -->

            <!-- Visiteurs du mois encours -->
            <div class="col-sm-6 col-lg-3 mb-3 mb-lg-5">
                <a class="card card-hover-shadow h-100" href="#">
                    <div class="card-body">
                        <h6 class="card-subtitle">Visiteurs du mois encours</h6>

                        <div class="row align-items-center gx-2 mb-1">
                            <div class="col-12">
                                <h2 class="card-title text-inherit text-end">{{ visiteurs.mois|number_format(0,'',',') }}</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- End visiteurs du mois encours -->

            <!-- Visiteurs de la semaine encours -->
            <div class="col-sm-6 col-lg-3 mb-3 mb-lg-5">

                <a class="card card-hover-shadow h-100" href="#">
                    <div class="card-body">
                        <h6 class="card-subtitle">Visiteurs de cette semaine</h6>

                        <div class="row align-items-center gx-2 mb-1">
                            <div class="col-12">
                                <h2 class="card-title text-inherit text-end">{{ visiteurs.semaine|number_format(0,'','.') }}</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- End Visiteurs de la semaine encours -->

            <!-- Visteurs d'aujourd'hui -->
            <div class="col-sm-6 col-lg-3 mb-3 mb-lg-5">
                <a class="card card-hover-shadow h-100" href="#">
                    <div class="card-body">
                        <h6 class="card-subtitle">Visiteurs d'aujourd'hui</h6>

                        <div class="row align-items-center gx-2 mb-1">
                            <div class="col-12">
                                <h2 class="card-title text-inherit text-end">{{ visiteurs.jour|number_format(0,'','.') }}</h2>
                            </div>

                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!-- End visiteurs d'aujourd'hui -->

        <div class="row">
            <!-- Les pages visitées -->
            <div class="col-lg-5 mb-3 mb-lg-5">

                <div class="card h-100">
                    <div class="card-header card-header-content-between">
                        <h4 class="card-header-title">Pages les plus visitées</h4>
                    </div>

                    <div class="card-body">


                        <ul class="list-group list-group-flush list-group-no-gutters">
                            <!-- Liste des articles -->
                            {% for page in pages|slice(0,10) %}
                                <li class="list-group-item">
                                    <a href="{{ page.url }}" target="_blank">
                                        <div class="d-flex">
                                            <div class="flex-grow-1 ms-3">
                                                <div class="row align-items-center">
                                                    <div class="col">
                                                        <span class="badge bg-info" style="float: left; margin-right: 10px;">{{ page.nombre }}</span>
                                                        <h5 class="mb-0">{{ page.url }}</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            {% endfor %}
                            <!-- End Liste des articles -->

                            <li class="list-group-item">
                                <span class="small text-muted">Liste de toutes les
                                    <a class="link" href="{{ path('app_backend_log_visiteur') }}">pages</a> visitées.
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <!-- End pages visitées -->

            <!-- Histogrammes -->
            <div class="col-lg-7 mb-3 mb-lg-5">

                <div class="card h-100">
                    <div class="card-header card-header-content-sm-between">
                        <h4 class="card-header-title mb-2 mb-sm-0">Histogramme des visiteurs</h4>

                        <ul class="nav nav-segment nav-fill" id="expensesTab" role="tablist">
                            <li class="nav-item" data-bs-toggle="chart-bar" data-datasets="thisWeek" data-trigger="click" data-action="toggle">
                                <a class="nav-link active" href="javascript:;" data-bs-toggle="tab">Cette année</a>
                            </li>
                            <li class="nav-item" data-bs-toggle="chart-bar" data-datasets="lastWeek" data-trigger="click" data-action="toggle">
                                <a class="nav-link" href="javascript:;" data-bs-toggle="tab">Ce mois</a>
                            </li>
                        </ul>
                    </div>

                    <div class="card-body">

                        <!-- Bar Chart -->
                        <div class="chartjs-custom">
                            <canvas id="updatingBarChart" style="height: 20rem;" data-hs-chartjs-options='{
                          "type": "bar",
                          "data": {
                            "labels": ["May 1", "May 2", "May 3", "May 4", "May 5", "May 6", "May 7", "May 8", "May 9", "May 10"],
                            "datasets": [{
                              "data": [200, 300, 290, 350, 150, 350, 300, 100, 125, 220],
                              "backgroundColor": "#377dff",
                              "hoverBackgroundColor": "#377dff",
                              "borderColor": "#377dff",
                              "maxBarThickness": "10"
                            },
                            {
                              "data": [150, 230, 382, 204, 169, 290, 300, 100, 300, 225, 120],
                              "backgroundColor": "#e7eaf3",
                              "borderColor": "#e7eaf3",
                              "maxBarThickness": "10"
                            }]
                          },
                          "options": {
                            "scales": {
                              "y": {
                                "grid": {
                                  "color": "#e7eaf3",
                                  "drawBorder": false,
                                  "zeroLineColor": "#e7eaf3"
                                },
                                "ticks": {
                                  "beginAtZero": true,
                                  "stepSize": 100,
                                  "fontSize": 12,
                                  "fontColor":  "#97a4af",
                                  "fontFamily": "Open Sans, sans-serif",
                                  "padding": 10,
                                  "postfix": "$"
                                }
                              },
                              "x": {
                                "grid": {
                                  "display": false,
                                  "drawBorder": false
                                },
                                "ticks": {
                                  "fontSize": 12,
                                  "fontColor":  "#97a4af",
                                  "fontFamily": "Open Sans, sans-serif",
                                  "padding": 5
                                },
                                "categoryPercentage": 0.5,
                                "maxBarThickness": "10"
                              }
                            },
                            "cornerRadius": 2,
                            "plugins": {
                              "tooltip": {
                                "prefix": "$",
                                "hasIndicator": true,
                                "mode": "index",
                                "intersect": false
                              }
                            },
                            "hover": {
                              "mode": "nearest",
                              "intersect": true
                            }
                          }
                        }'></canvas>
                        </div>
                    </div>

                </div>
            </div>
            <!-- End Histogrammes -->
        </div>

        <!-- Monitoring -->
        <div class="card mb-3 mb-lg-5">
            <!-- Header -->
            <div class="card-header">
                <div class="row justify-content-between align-items-center flex-grow-1">
                    <div class="col-md">
                        <div class="d-flex justify-content-between align-items-center">
                            <h4 class="card-header-title mb-5">Monitoring</h4>
                        </div>
                        <table class="table table-striped" id="monitoring">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>IP</th>
                                <th>PAGE</th>
                                <th>SESSION</th>
                                <th>CREATEDAT</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for log in logs %}
                                <tr>
                                    <td>{{ log.id }}</td>
                                    <td>{{ log.ip }}</td>
                                    <td>{{ log.page|raw }}</td>
                                    <td>{{ log.session }}</td>
                                    <td>{{ log.created_at }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- End Header -->

        </div>
        <!-- End Monitoring -->

    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#monitoring').DataTable({
                language:{
                    url: 'https://cdn.datatables.net/plug-ins/1.13.1/i18n/fr-FR.json'
                }
            })
        })
    </script>
{% endblock %}