{% extends 'base.html.twig' %}

{% block title %}EnInfo{% endblock %}

{% block body %}
    <h1>EnInfo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ en_info.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ en_info.titre }}</td>
            </tr>
            <tr>
                <th>Debut</th>
                <td>{{ en_info.debut ? en_info.debut|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Fin</th>
                <td>{{ en_info.fin ? en_info.fin|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Traduction</th>
                <td>{{ en_info.traduction ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ en_info.statut ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_backend_en_info_index') }}">back to list</a>

    <a href="{{ path('app_backend_en_info_edit', {'id': en_info.id}) }}">edit</a>

    {{ include('backend_en_info/_delete_form.html.twig') }}
{% endblock %}
