{% extends 'base.html.twig' %}

{% block title %}Album{% endblock %}

{% block body %}
    <h1>Album</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ album.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ album.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ album.description }}</td>
            </tr>
            <tr>
                <th>Media</th>
                <td>{{ album.media }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ album.slug }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ album.createdAt ? album.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ album.updatedAt ? album.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_backend_album_index') }}">back to list</a>

    <a href="{{ path('app_backend_album_edit', {'id': album.id}) }}">edit</a>

    {{ include('backend_album/_delete_form.html.twig') }}
{% endblock %}
