{% extends 'backend_layout.html.twig' %}

{% block title %}{{ parent() }} Gestion des utilisateurs{% endblock %}

{% block body %}
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h1 class="page-header-title">Gestion des utilisateurs</h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md">
                                <h4 class="card-header-title">Liste des utilisateurs</h4>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        {% for label, messages in app.flashes %}
                            {% for message in messages %}
                                <div class="alert alert-{{ label }}" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}

                        <div class="">
                            <table id="liste" class="table">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col" class="table-column-pe-0">#</th>
                                    <th class="text-center">Email</th>
                                    <th class="text-center">Roles</th>
                                    <th class="text-center">Connexion</th>
                                    <th class="text-center">Date</th>
                                </thead>

                                <tbody>
                                {% for user in users %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td class="table-column-ps-0">
                                            <a href="{{ path('app_admin_user_edit', {'id': user.id}) }}">{{ user.email }}</a>
                                        </td>
                                        <td class="text-center">
                                            {% if user.roles|length > 1%}
                                                {% if user.roles[1] == 'ROLE_ADMIN' %}
                                                    Administrateur
                                                {% else %}
                                                    Editeur
                                                {% endif %}
                                            {% else %}
                                                Utilisateur
                                            {% endif %}
                                        </td>
                                        <td class="text-center">{{user.connexion}}</td>
                                        <td class="text-center">{{ user.lastConnectedAt ? user.lastConnectedAt|date('Y-m-d H:i:s') : '' }} </td>
                                    </tr>


                                {% else %}
                                    <tr>
                                        <td colspan="3" class="text-center"><em>Aucun utilisateur enregistré</em></td>
                                    </tr>
                                {% endfor %}


                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h4 class="haeder-title">Formulaire</h4>
                    </div>
                    <div class="card-body">
                        {{ include('admin_user/_form.html.twig', {'button_label': 'Modifier'}) }}

                        {{ include('admin_user/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#liste').DataTable();
        });
    </script>
    <script>
        $(document).ready(function() {
            // you may need to change this code if you are not using Bootstrap Datepicker
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true,
                language: "fr",
                todayHighlight: true,
            });
        });
    </script>
{% endblock %}