{% extends 'base.html.twig' %}

{% block title %}{{ actualite.locale.titre }}{% endblock %}

{% block body %}
    <main>
        <section id="page" class="page">
            <div class="breadcrumb">
                <nav  style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('app_frontend_index', {'_locale': locale}) }}"><i class="fa-solid fa-house"></i></a></li>
                        <li class="breadcrumb-item"><a href="{{ path('app_frontend_actualite_index', {'rubrique': 'news'|trans, '_locale': locale}) }}">{{ 'News'|trans }}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ actualite.locale.titre }}</li>
                    </ol>
                </nav>
            </div>
            <div class="row">
                <div class="col-lg-8 contenu-page p-lg-5"  data-aos="zoom-in" data-aos-duration="2500">
                    {% if actualite.locale.media %}
                        <figure>
                                <img src="{{ absolute_url(asset('uploads/actualite/' ~ actualite.locale.media)) }}" alt="{{ actualite.locale.titre }}" class="img-fluid img-thumbnail">
                        </figure>
                        <div class="publication text-muted">{{ actualite.locale.createdAt|ago(locale=locale) }}</div>
                    {% endif %}
                    <h5>{{ actualite.locale.titre }}</h5>
                    <div class="text">
                        {{ actualite.locale.contenu|raw }}
                    </div>
                    <div class="autres-articles">
                        <h4>{{ 'Other news'|trans }}</h4>
                        <div class="row">
                            {% for other in actualite.others %}
                                <div class="col-md-6">
                                    <div class="card mb-3 actualites" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="2500">
                                        <div class="row g-0 justify-content-center align-items-center">
                                            {% if other.media %}
                                                <div class="col-md-4">
                                                    <img src="{{ absolute_url(asset('uploads/actualite/' ~ other.media)) }}" class="img-fluid rounded-start" alt="{{ other.titre }}">
                                                </div>
                                            {% endif %}
                                            <div class="{{ other.media ? 'col-md-8' : 'col-md-12' }}">
                                                <div class="card-body">
                                                    <h6 class="card-title"><a href="{{ path('app_frontend_actualite_show', {'rubrique': 'news'|trans, 'slug': other.slug, '_locale': locale}) }}">{{ other.titre }}</a></h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 social"  data-aos="fade-left" data-aos-duration="2500">
                    {{ render(path('app_frontend_newsletter',{'_locale': locale})) }}
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block translate %}
    {% for locale in locales %}
        {% if locale != app.request.locale %}
            <a href="{{ path('app_frontend_actualite_show', {'rubrique': traduction, 'slug': actualite.traduction.slug, '_locale': locale}) }}"><img src="{{ absolute_url(asset('assets/images/flag_'~locale~'.svg')) }}" alt="" ></a>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block metas %}
    <link rel="alternate" href="{{ absolute_url(path('app_frontend_actualite_show', {'slug': actualite.locale.slug, '_locale': locale, 'rubrique': 'news'|trans})) }}" hreflang="{{ locale }}">

    <meta name="keywords" content="{{ actualite.locale.tags }}">
    <meta name="description" content="{{ actualite.locale.resume|raw }}" />
    <link rel="canonical" href="{{ absolute_url(path('app_frontend_actualite_show', {'slug': actualite.locale.slug, '_locale': locale, 'rubrique': 'news'|trans})) }}" />
    <link rel="next" href=" {{ absolute_url(path('app_home')) }}" />

    <meta property="og:locale" content="fr_FR" />
    <meta property="og:locale:alternate" content="en_GB" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ actualite.locale.titre }}" />
    <meta property="og:description" content="{{ actualite.locale.resume|raw }}" />
    <meta property="og:url" content="{{ absolute_url(path('app_frontend_actualite_show', {'slug': actualite.locale.slug, '_locale': locale, 'rubrique': 'news'|trans})) }}" />
    <meta property="og:site_name" content="ITPC West Africa" />
    <meta property="article:created_time" content="{{ actualite.locale.createdAt|date('Y-m-d') }}T{{ actualite.locale.createdAt|date('H:i:s') }}+00:00" />
    <meta property="og:image" content="{{ absolute_url(asset('uploads/actualite/'~ actualite.locale.media)) }}" />
    <meta property="og:image:type" content="image/svg+xml" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="{{ actualite.locale.resume|raw }}"/>
    <meta name="twitter:title" content="{{ actualite.locale.titre }}"/>
    <meta name="twitter:domain" content="ITPC West Africa"/>
    <meta name="twitter:image:src" content="{{ absolute_url(asset('uploads/actualite/' ~ actualite.locale.media)) }}"/>
{% endblock %}