{% extends 'base.html.twig' %}

{% block title %}{{ 'News'|trans }}{% endblock %}

{% block body %}
    <main>
        <section id="page" class="page">
            <div class="breadcrumb">
                <nav  style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('app_frontend_index', {'_locale': locale}) }}"><i class="fa-solid fa-house"></i></a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{'News'|trans}}</li>
                    </ol>
                </nav>
            </div>
            <div class="row">
                <div class="col-lg-8 contenu-page p-lg-5">
                    {% for actualite in actualites %}
                        <div class="card mb-3 actualites" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="2500">
                            <div class="row g-0 justify-content-center align-items-center">
                                <div class="col-md-4">
                                    {% if actualite.media %}
                                        <img src="{{ absolute_url(asset('uploads/actualite/' ~ actualite.media)) }}" class="img-fluid rounded-start img-thumbnail" alt="{{ actualite.titre }}">
                                    {% endif %}

                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ actualite.titre }}</h5>
                                        <p class="card-text">
                                            {{ actualite.resume|raw }}
                                            <a href="{{ path('app_frontend_actualite_show', {'_locale': locale, 'rubrique': 'news'|trans, 'slug': actualite.slug}) }}" class="lire-plus"> {{ 'Read more'|trans }}</a>
                                        </p>

                                        <p class="card-text"><small class="text-muted">{{ actualite.createdAt|ago(locale=locale) }}</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="text-center">
                            <h5><em>{{ 'Page being edited'|trans }}</em></h5>
                        </div>
                    {% endfor %}

                    <div class="pagination justify-content-center mt-5">
                        <div class="mt-5">{{ knp_pagination_render(actualites) }}</div>
                    </div>

                </div>
                <div class="col-lg-4 social"  data-aos="fade-left" data-aos-duration="2500">
                    {{ render(url('app_frontend_newsletter',{'_locale':locale})) }}
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block translate %}
    {% for locale in locales %}
        {% if locale != app.request.locale %}
            <a href="{{ absolute_url(path('app_frontend_actualite_index', {'rubrique': traduction, '_locale': locale})) }}"><img src="{{ absolute_url(asset('assets/images/flag_'~locale~'.svg')) }}" alt="" ></a>
        {% endif %}
    {% endfor %}
{% endblock %}