{% extends 'base.html.twig' %}

{% block title %}ITPC West Africa{% endblock %}

{% block body %}
    <main>
        <section id="bienvenue" class="bienvenue">
            <div class="row">
                <div class="col-lg-5 bienvenue-description"  data-aos="fade-right" data-aos-duration="2500">
                    <h1>{{ 'welcome'|trans }}</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis quia aspernatur, soluta repudiandae minus veniam beatae sequi quasi esse optio, corporis voluptates dolore quae blanditiis quidem ut neque nihil nostrum.
                    </p>
                    <a href="#" class="bouton btn-noir">{{ 'Read more'|trans }}</a>
                </div>
                <div class="col-lg-7 tuile">
                    <div class="row">
                        <div class="col-sm-6 tuile-presentation">
                            <h6>{{ 'Who are we?'|trans }}?</h6>
                            <h2>ITPC West Africa</h2>
                            <p>
                                La Coalition internationale pour la préparation au traitement – Afrique de l’Ouest (ITPC WEST AFRICA)
                            </p>
                            <a href="page.html" class="bouton btn-noir">{{ 'Discover us'|trans }}</a>
                        </div>
                        <div class="col-sm-6"  data-aos="fade-left" data-aos-duration="2500">
                            <div class="row">
                                <div class="col-12 tuile-rubrique">
                                    <a href="page.html">
                                        <h2>Vision / mission</h2>
                                    </a>
                                </div>
                                <div class="col-122 tuile-rubrique">
                                    <a href="page.html">
                                        <h2>Zone d'intervention</h2>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="axes" class="axes">
            <div class="row">
                <div class="col-12 contenu">
                    <h1>{{ "Intervention's axes"|trans }}</h1>
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 intervention d-flex align-items-center" data-aos="zoom-in-down" data-aos-duration="2500" data-aos-easing="linear">
                        <div class="col">
                            <a href="page.html">
                                <div class="rond">
                                    <h3>Plaidoyer</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col">
                            <a href="page.html">
                                <div class="rond">
                                    <h3>Mobilisation communautaire</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col">
                            <a href="page.html">
                                <div class="rond">
                                    <h3>Réduction de la stigmatisation et de la discrimination</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col">
                            <a href="page.html">
                                <div class="rond">
                                    <h3>Promotion de la l'éducation sanitaire</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="campagne" class="campagne">
            <div class="contenu">
                <div class="row">
                    <div class="col-12">
                        <h1>{{ "Projects"|trans }}</h1>
                    </div>
                </div>
                <div class="row d-flex align-items-center">
                    <div class="col-lg-5 description" data-aos="flip-left" data-aos-duration="2500" data-aos-easing="ease-out-cubic">
                        <div class="circle">
                            <img src="assets/images/slide/01.jpg" alt="">
                        </div>
                        <div class="reume"></div>
                    </div>
                    <div class="col-lg-7">
                        <h3>Titre de la campagne</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, asperiores laudantium enim et sit obcaecati iusto explicabo nostrum qui recusandae repellat quaerat esse modi nisi, doloribus ut tenetur, ipsam fugiat?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto iste, repellat maiores nisi sapiente aspernatur numquam est asperiores blanditiis inventore cum eius qui quaerat, nesciunt nulla consequatur quod voluptatum totam?
                        </p>
                        <a href="#" class="bouton btn-noir">{{ "Read more"|trans }}</a>
                    </div>
                </div>
            </div>
        </section>
        <section id="actualites" class="actualites">
            <div class="contenu">
                <h1>{{ 'News'|trans }}</h1>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card h-100">
                            <figure>
                                <img src="assets/images/all/01.jpg" class="card-img-top" alt="...">
                            </figure>

                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.

                                </p>
                                <a href="page.html" class="btn-detail">Lire plus</a>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">samedi 07 avril 2022 </small>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <figure>
                                <img src="assets/images/all/01.jpg" class="card-img-top" alt="...">
                            </figure>

                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                                <a href="page.html" class="btn-detail">Lire plus</a>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <figure>
                                <img src="assets/images/all/01.jpg" class="card-img-top" alt="...">
                            </figure>

                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                                <a href="page.html" class="btn-detail">Lire plus</a>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">01/04/2022</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block headerImage %}
    <section id="sliders" class="sliders">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                {% for slide in slides %}
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ loop.index }}" class="{{ loop.first ? 'active'  }}" aria-current="true" aria-label="Slide {{ loop.index }}"></button>
                {% endfor %}

            </div>
            <div class="carousel-inner">
                {% for slide in slides %}
                    <div class="carousel-item {% if loop.first %} active {% endif %}">
                        {% if slide.media %}
                            <img src="{{ absolute_url(asset('uploads/slide/' ~ slide.media)) | imagine_filter('slides') }}" class="d-block w-100" alt="{{ slide.titre }}">
                        {% else %}
                            <img src="{{ absolute_url(asset('assets/images/slide/default.png')) | imagine_filter('slides') }}" class="d-block w-100" alt="{{ slide.titre }}">
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Prec</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Suiv</span>
            </button>
        </div>
    </section>
{% endblock %}

{% block translate %}
    {% for locale in locales %}
        {% if locale != app.request.locale %}
            <a href="{{ path('app_frontend_index', {'_locale': locale}) }}"><img src="{{ absolute_url(asset('assets/images/flag_'~locale~'.svg')) }}" alt="" ></a>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block metas %}
    <link rel="alternate" href="{{ absolute_url(path('app_frontend_index',{'_locale': locale})) }}" hreflang="{{ locale }}">

    <meta name="keywords" content="ITPCWA, ITPC West Africa, {{ 'AIDS'|trans }}, {{ 'HIV'|trans }}">
    <meta name="description" content="{{ 'ITPC West Africa Enable optimal access to HIV treatment, in sufficient quality and quantity, for all people who need it'|trans }}" />
    <link rel="canonical" href="{{ absolute_url(path('app_frontend_index',{'_locale': locale})) }}" />
    <link rel="next" href=" {{ absolute_url(path('app_home')) }}" />

    <meta property="og:locale" content="fr_FR" />
    <meta property="og:locale:alternate" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="ITPC West Africa - International Treatment Preparedness Coalition" />
    <meta property="og:description" content="{{ 'ITPC West Africa Enable optimal access to HIV treatment, in sufficient quality and quantity, for all people who need it'|trans }}" />
    <meta property="og:url" content="{{ absolute_url(path('app_frontend_index',{"_locale": locale})) }}" />
    <meta property="og:site_name" content="ITPC West Africa" />
    <meta property="article:modified_time" content="2022-12-18T11:08:30+00:00" />
    <meta property="og:image" content="{{ absolute_url(asset('assets/images/logo.svg')) }}" />
    <meta property="og:image:type" content="image/svg+xml" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="{{ 'ITPC West Africa Enable optimal access to HIV treatment, in sufficient quality and quantity, for all people who need it'|trans }}"/>
    <meta name="twitter:title" content="ITPC West Africa - International Treatment Preparedness Coalition"/>
    <meta name="twitter:domain" content="ITPC West Africa"/>
    <meta name="twitter:image:src" content="{{ absolute_url(asset('assets/images/logo.svg')) }}"/>
{% endblock %}