<div class="ressources text-center">
    <img src="{{ absolute_url(asset('assets/images/all/offre.jfif')) }}" class="img-fluid" >
    <a href="#" class="bouton btn-download">{{ 'Download'|trans }}</a>
</div>
<div class="zone-facebook d-none d-lg-block">
    <div
            class="fb-page"
            data-href="https://www.facebook.com/ItpcWestAfrica/"
            data-tabs="timeline, events, messages."
            data-height="850"
            data-small-header="false"
            data-adapt-container-width="true"
            data-hide-cover="false"
            data-show-facepile="true">
        <blockquote cite="https://www.facebook.com/ItpcWestAfrica/" class="fb-xfbml-parse-ignore">
            <a href="https://www.facebook.com/ItpcWestAfrica/">ITPC West Africa</a>
        </blockquote>
    </div>
    <div id="fb-root"></div>
</div>
<div class="newsletter">
    {{ form_start(form, {'attr':{'action': absolute_url(path('app_frontend_newsletter'))}}) }}
    <h6>Newsletter</h6>
    <div class="description">
        {{ 'Be the first to receive all the news from ITPC West Africa'|trans }}
    </div>
    <div class="input-group mb-3">
        {{ form_widget(form.email) }}
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">
            <i class="fa-solid fa-paper-plane"></i>
        </button>
    </div>
    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>