{% extends 'base.html.twig' %}

{% block title %}{{ presentation.titre }}{% endblock %}

{% block translate %}
    {% for locale in locales %}
        {% if locale != app.request.locale %}
            <a href="{{ absolute_url(path('app_frontend_presentation', {'slug': presentation.traduction, '_locale': locale})) }}"><img src="{{ absolute_url(asset('assets/images/flag_'~locale~'.svg')) }}" alt="" ></a>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block body %}
    <main>
        <section id="page" class="page">
            <div class="breadcrumb">
                <nav  style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('app_frontend_index', {'_locale': locale}) }}"><i class="fa-solid fa-house"></i></a></li>
                        <li class="breadcrumb-item"><a href="#">{{ 'Who are we?'|trans }}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ presentation.type_titre }}</li>
                    </ol>
                </nav>
            </div>
            <div class="row">
                <div class="col-lg-8 contenu-page p-lg-5"  data-aos="zoom-in" data-aos-duration="2500">
                    {% if presentation.media %}
                        <figure>
                            <img src="{{ absolute_url(asset('uploads/presentation/' ~ presentation.media)) }}" alt="{{ presentation.titre }}" class="img-fluid img-thumbnail">
                        </figure>
                        <div class="publication text-muted">{{ presentation.createdAt|ago(locale=locale)}} </div>
                    {% endif %}

                    <h5>{{ presentation.titre }}</h5>
                    <div class="text">
                        {{ presentation.contenu|raw }}
                    </div>
                </div>
                <div class="col-lg-4 social"  data-aos="fade-left" data-aos-duration="2500">
                    {{ render(path('app_frontend_newsletter',{"_locale": locale})) }}
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block metas %}
    <link rel="alternate" href="{{ absolute_url(path('app_frontend_presentation', {'slug': presentation.type_slug, '_locale': locale})) }}" hreflang="{{ locale }}">

    <meta name="keywords" content="{{ presentation.tags }}">
    <meta name="description" content="{{ presentation.resume|raw }}" />
    <link rel="canonical" href="{{ absolute_url(path('app_frontend_presentation', {'slug': presentation.type_slug, '_locale': locale})) }}" />
    <link rel="next" href=" {{ absolute_url(path('app_home')) }}" />

    <meta property="og:locale" content="fr_FR" />
    <meta property="og:locale:alternate" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ presentation.titre }}" />
    <meta property="og:description" content="{{ presentation.resume|raw }}" />
    <meta property="og:url" content="{{ absolute_url(path('app_frontend_presentation', {'slug': presentation.type_slug, '_locale': locale})) }}" />
    <meta property="og:site_name" content="ITPC West Africa" />
    <meta property="article:created_time" content="{{ presentation.createdAt|date('Y-m-d') }}T{{ presentation.createdAt|date('H:i:s') }}+00:00" />
    <meta property="og:image" content="{{ absolute_url(asset('uploads/presentation/'~ presentation.media)) }}" />
    <meta property="og:image:type" content="image/svg+xml" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="{{ presentation.resume|raw }}"/>
    <meta name="twitter:title" content="{{ presentation.titre }}"/>
    <meta name="twitter:domain" content="ITPC West Africa"/>
    <meta name="twitter:image:src" content="{{ absolute_url(asset('uploads/presentation/' ~ presentation.media)) }}"/>
{% endblock %}