{% extends 'base.html.twig' %}

{% block title %}{{ 'Projects'|trans }}{% endblock %}

{% block body %}
    <main>
        <section id="page" class="page">
            <div class="breadcrumb">
                <nav  style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('app_frontend_index', {'_locale': locale}) }}"><i class="fa-solid fa-house"></i></a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{'News'|trans}}</li>
                    </ol>
                </nav>
            </div>
            <div class="row">
                <div class="col-lg-8 contenu-page p-lg-5">
                    {% for projet in projets %}
                        <div class="card mb-3 projets" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="2500">
                            <div class="row g-0 justify-content-center align-items-center">
                                <div class="col-md-4">
                                    {% if projet.media %}
                                        <img src="{{ absolute_url(asset('uploads/projet/' ~ projet.media)) }}" class="img-fluid rounded-start img-thumbnail" alt="{{ projet.titre }}">
                                    {% endif %}

                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ projet.titre }}</h5>
                                        <p class="card-text">
                                            {{ projet.resume|raw }}
                                            <a href="{{ path('app_frontend_projet_show', {'_locale': locale, 'slug': projet.slug}) }}" class="lire-plus"> {{ 'Read more'|trans }}</a>
                                        </p>

                                        <p class="card-text"><small class="text-muted">{{ projet.createdAt|ago(locale=locale) }}</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="text-center">
                            <h5><em>{{ 'Page being edited'|trans }}</em></h5>
                        </div>
                    {% endfor %}



                    <nav class="mt-5" aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>

                </div>
                <div class="col-lg-4 social"  data-aos="fade-left" data-aos-duration="2500">
                    {{ render(path('app_frontend_newsletter',{"_locale": locale})) }}
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block translate %}
    {% for locale in locales %}
        {% if locale != app.request.locale %}
            <a href="{{ absolute_url(path('app_frontend_projet_index', {'_locale': locale})) }}"><img src="{{ absolute_url(asset('assets/images/flag_'~locale~'.svg')) }}" alt="" ></a>
        {% endif %}
    {% endfor %}
{% endblock %}