{% extends 'base.html.twig' %}

{% block title %}{{projet.locale.titre }}{% endblock %}

{% block body %}
    <main>
        <section id="page" class="page">
            <div class="breadcrumb">
                <nav  style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('app_frontend_index', {'_locale': locale}) }}"><i class="fa-solid fa-house"></i></a></li>
                        <li class="breadcrumb-item"><a href="{{ path('app_frontend_projet_index', {'_locale': locale}) }}">{{ 'Projects'|trans }}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{projet.locale.titre }}</li>
                    </ol>
                </nav>
            </div>
            <div class="row">
                <div class="col-lg-8 contenu-page p-lg-5"  data-aos="zoom-in" data-aos-duration="2500">
                    {% if projet.locale.media %}
                        <figure>
                            <img src="{{ absolute_url(asset('uploads/projet/' ~ projet.locale.media)) }}" alt="{{projet.locale.titre }}" class="img-fluid img-thumbnail">
                        </figure>
                        <div class="publication text-muted">{{projet.locale.createdAt|ago(locale=locale) }}</div>
                    {% endif %}
                    <h5>{{projet.locale.titre }}</h5>
                    <div class="text">
                        {{projet.locale.contenu|raw }}
                    </div>

                </div>
                <div class="col-lg-4 social"  data-aos="fade-left" data-aos-duration="2500">
                    {{ render(path('app_frontend_newsletter',{"_locale": locale})) }}
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block translate %}
    {% for locale in locales %}
        {% if locale != app.request.locale %}
            <a href="{{ path('app_frontend_projet_show', {'slug': projet.traduction.slug, '_locale': locale}) }}"><img src="{{ absolute_url(asset('assets/images/flag_'~locale~'.svg')) }}" alt="" ></a>
        {% endif %}
    {% endfor %}
{% endblock %}


{% block metas %}
    <link rel="alternate" href="{{ absolute_url(path('app_frontend_projet_show', {'slug': projet.locale.slug, '_locale': locale})) }}" hreflang="{{ locale }}">

    <meta name="keywords" content="{{ projet.locale.tags }}">
    <meta name="description" content="{{ projet.locale.resume|raw }}" />
    <link rel="canonical" href="{{ absolute_url(path('app_frontend_projet_show', {'slug': projet.locale.slug, '_locale': locale})) }}" />
    <link rel="next" href=" {{ absolute_url(path('app_frontend_projet_index')) }}" />

    <meta property="og:locale" content="fr_FR" />
    <meta property="og:locale:alternate" content="en_GB" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ projet.locale.titre }}" />
    <meta property="og:description" content="{{ projet.locale.resume|raw }}" />
    <meta property="og:url" content="{{ absolute_url(path('app_frontend_projet_show', {'slug': projet.locale.slug, '_locale': locale})) }}" />
    <meta property="og:site_name" content="ITPC West Africa" />
    <meta property="article:created_time" content="{{ projet.locale.createdAt|date('Y-m-d') }}T{{ projet.locale.createdAt|date('H:i:s') }}+00:00" />
    <meta property="og:image" content="{{ absolute_url(asset('uploads/projet/'~ projet.locale.media)) }}" />
    <meta property="og:image:type" content="image/svg+xml" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="{{ projet.locale.resume|raw }}"/>
    <meta name="twitter:title" content="{{ projet.locale.titre }}"/>
    <meta name="twitter:domain" content="ITPC West Africa"/>
    <meta name="twitter:image:src" content="{{ absolute_url(asset('uploads/projet/' ~ projet.locale.media)) }}"/>
{% endblock %}