{% extends 'base.html.twig' %}

{% block title %}{{ 'Recruitment offers list'|trans }}{% endblock %}

{% block body %}
    <main>
        <section id="page" class="page">
            <div class="breadcrumb">
                <nav  style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('app_frontend_index', {'_locale': locale}) }}"><i class="fa-solid fa-house"></i></a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ 'Recruitment offers list'|trans }}</li>
                    </ol>
                </nav>
            </div>
            <div class="row">
                <div class="col-lg-8 contenu-page p-lg-5">
                    {% for recruitment in recruitments %}
                        <div class="card mb-3 jobs" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="2500">
                            <div class="row g-0 justify-content-center align-items-center">

                                <div class="col-md-12">
                                    <div class="card-body">
                                        <a href="{{ absolute_url(path('app_frontend_recruitment_show', {'_locale': locale, 'slug': recruitment.slug})) }}">
                                            <div class="mode {{ bg_contract(recruitment.contrat) }}">{{ recruitment.contrat }}</div>
                                            <h4 class="card-title">{{ recruitment.titre}} </h4>
                                            <p class="card-text">
                                                {{ recruitment.resume|raw }}
                                            </p>
                                        </a>
                                        <div class="footer">
                                            <div class="row row-cols-3">
                                                <div class="col"><small class="text-muted" title="la référence"><span class="reference">{{ recruitment.reference }}</span></small></div>
                                                <div class="col"><small class="text-muted" title="La date limite"><span class="rebours">{{ recruitment.fin|date('Y-m-d') }} {{ archive(recruitment.fin|date('Y-m-d'))|raw }}</span></small></div>
                                                <div class="col"><small class="text-muted" title="La localisation"><span class="localisation">{{ recruitment.lieu }}</span></small></div>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>

                    {% endfor %}
                    {% if pagination %}
                        <nav class="mt-5" aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item disabled">
                                    <a class="page-link">Previous</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>
                    {% endif %}


                </div>
                <div class="col-lg-4 social"  data-aos="fade-left" data-aos-duration="2500">
                    {{ render(path('app_frontend_newsletter',{'_locale': locale})) }}
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block translate %}
    {% for locale in locales %}
        {% if locale != app.request.locale %}
            <a href="{{ absolute_url(path('app_frontend_recruitment', {'_locale': locale})) }}"><img src="{{ absolute_url(asset('assets/images/flag_'~locale~'.svg')) }}" alt="" ></a>
        {% endif %}
    {% endfor %}
{% endblock %}
