{% extends 'base.html.twig' %}

{% block title %}{{ 'Resources'|trans }}{% endblock %}

{% block body %}
    <main>
        <section id="page" class="page">
            <div class="breadcrumb">
                <nav  style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('app_frontend_index', {'_locale': locale}) }}"><i class="fa-solid fa-house"></i></a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ 'Resources'|trans }}</li>
                    </ol>
                </nav>
            </div>
            <div class="row">
                <div class="col-lg-8 contenu-page p-lg-5">
                    {% for ressource in ressources %}
                        <div class="card mb-3 jobs" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="2500">
                            <div class="row g-0 justify-content-center align-items-center">

                                <div class="col-md-12">
                                    <div class="card-body ressources">
                                        <a href="{{ absolute_url(asset('uploads/ressources/' ~ ressource.media)) }}" target="_blank">
                                            <div class="icon"> <span class="{{ ressource.extension ? icon(ressource.extension) : icon('file') }}"></span> </div>
                                            <h4 class="card-title">{{ ressource.titre }} </h4>
                                            <p class="card-text">{{ ressource.description|raw }}</p>
                                        </a>
                                        <div class="footer">
                                            <div class="row row-cols-3">
                                                <div class="col"><small class="text-muted" title="la référence"><span class="reference">{{ ressource.reference }}</span></small></div>
                                                <div class="col"><small class="text-muted" title="La date limite"><span class="rebours">{{ ressource.createdAt|ago }}</span></small></div>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    {% else %}
                        <div class="text-center">
                            <h5><em>{{ 'Page being edited'|trans }}</em></h5>
                        </div>
                    {% endfor %}

                    <div class="pagination justify-content-center mt-5">
                        <div class="mt-5">{{ knp_pagination_render(ressources) }}</div>
                    </div>


                </div>
                <div class="col-lg-4 social"  data-aos="fade-left" data-aos-duration="2500">
                    {{ render(path('app_frontend_newsletter',{'_locale':locale})) }}
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block translate %}
    {% for locale in locales %}
        {% if locale != app.request.locale %}
            <a href="{{ absolute_url(path('app_frontend_ressource', {'_locale': locale})) }}"><img src="{{ absolute_url(asset('assets/images/flag_'~locale~'.svg')) }}" alt="" ></a>
        {% endif %}
    {% endfor %}
{% endblock %}