{% extends 'base.html.twig' %}

{% block body %}
 <main>
     <section id="page" class="page">
         <div class="breadcrumb">
             <nav  style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                 <ol class="breadcrumb">
                     <li class="breadcrumb-item"><a href="{{ path('app_frontend_index', {'_locale': locale}) }}"><i class="fa-solid fa-house"></i></a></li>
                     <li class="breadcrumb-item active" aria-current="page">{{'Sitemap'|trans}}</li>
                 </ol>
             </nav>
         </div>
         <div class="row">
             <div class="col-lg-8 contenu-page p-lg-5"  data-aos="zoom-in" data-aos-duration="2500">
                 <div class="sitemap">
                     <h1 class="titre">{{ 'Sitemap'|trans }}</h1>
                     <ul class="sitemap-tree">
                         <li><a href="{{ absolute_url(path('app_frontend_index', {'_locale': locale})) }}"><span>{{ 'Home'|trans }}</span></a></li>
                         <li>
                             <span>{{ 'Who are we?'|trans }}</span>
                             <ul>
                                 {% for menu in rubriques %}
                                     <li><a href="{{ path('app_frontend_presentation', {'slug': menu.slug, '_locale': locale}) }}"><span>{{ menu.titre }}</span></a></li>
                                 {% endfor %}
                             </ul>
                         </li>
                         <li><a href="{{ path('app_frontend_actualite_index', {'rubrique': 'news'|trans, '_locale': locale}) }}"><span>{{ 'News'|trans }}</span></a></li>
                         <li><a href="{{ path('app_frontend_projet_index', {'_locale': locale}) }}"><span>{{ 'Projects'|trans }}</span></a></li>
                         <li><a href="{{ path('app_frontend_ressource', {'_locale': locale}) }}"><span>{{ 'Resources'|trans }}</span></a></li>
                         <li><a href="{{ path('app_frontend_recruitment', {'_locale': locale}) }}"><span>{{ 'Recruitments'|trans }}</span></a></li>
                         <li>
                             <span>{{ 'Gallery'|trans }}</span>
                             <ul>
                                 <li><a href="#"><span>{{ 'Pictures'|trans }}</span></a></li>
                                 <li><a href="#"><span>{{ 'Videos'|trans }}</span></a></li>
                             </ul>
                         </li>
                         <li><a href="#"><span>{{ 'Datas'|trans }}</span></a></li>
                         <li><a href="#"><span>{{ 'Contact'|trans }}</span></a></li>
                     </ul>
                 </div>
             </div>
             <div class="col-lg-4 social"  data-aos="fade-left" data-aos-duration="2500">
                 {{ render(path('app_frontend_newsletter',{'_locale': locale})) }}
             </div>
         </div>
     </section>
 </main>
{% endblock %}

{% block title %}{{ 'Sitemap'|trans }}{% endblock %}

{% block translate %}
    {% for locale in locales %}
        {% if locale != app.request.locale %}
            <a href="{{ path('app_sitemap', {'_locale': locale}) }}"><img src="{{ absolute_url(asset('assets/images/flag_'~locale~'.svg')) }}" alt="" ></a>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block metas %}
    <link rel="alternate" href="{{ absolute_url(path('app_sitemap',{'_locale': locale})) }}" hreflang="{{ locale }}">

    <meta name="keywords" content="{{ 'Sitemap'|trans }}, ITPCWA, {{ 'AIDS'|trans }}, {{ 'HIV'|trans }}">
    <meta name="description" content="{{ 'ITPC West Africa Enable optimal access to HIV treatment, in sufficient quality and quantity, for all people who need it'|trans }}" />
    <link rel="canonical" href="{{ absolute_url(path('app_sitemap',{'_locale': locale})) }}" />
    <link rel="next" href=" {{ absolute_url(path('app_home')) }}" />

    <meta property="og:locale" content="fr_FR" />
    <meta property="og:locale:alternate" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="ITPC West Africa - International Treatment Preparedness Coalition" />
    <meta property="og:description" content="{{ 'ITPC West Africa Enable optimal access to HIV treatment, in sufficient quality and quantity, for all people who need it'|trans }}" />
    <meta property="og:url" content="{{ absolute_url(path('app_sitemap',{"_locale": locale})) }}" />
    <meta property="og:site_name" content="ITPC West Africa" />
    <meta property="article:modified_time" content="2022-12-18T11:08:30+00:00" />
    <meta property="og:image" content="{{ absolute_url(asset('assets/images/logo.svg')) }}" />
    <meta property="og:image:type" content="image/svg+xml" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content=""/>
    <meta name="twitter:title" content="ITPC West Africa - International Treatment Preparedness Coalition"/>
    <meta name="twitter:domain" content="ITPC West Africa"/>
    <meta name="twitter:image:src" content="{{ absolute_url(asset('assets/images/logo.svg')) }}"/>
{% endblock %}