{% extends 'backend_layout.html.twig' %}

{% block title %}{{ parent() }} Gestion des albums photos{% endblock %}

{% block body %}
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col-10">
                    <h1 class="page-header-title">Album : {{ album.titre }}</h1>
                </div>
                <div class="col-2 text-end">
                    <a href="{{ path('app_backend_album_index') }}" class="btn btn-primary"><i class="fa fa-reply"></i> Retour aux albums</a>
                </div>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-4 g-4">
            {% for photo in photos %}
                <div class="col">
                    <div class="card h-100">
                        <img src="{{ absolute_url(asset('uploads/multimedia/' ~ photo.image)) }}" class="card-img-top" alt="...">
                        <div class="card-body"></div>
                        <div class="card-footer">
                            <small class="text-muted">{{ include('backend_photo/_delete_form.html.twig') }}</small>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/css/dropify.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css">
    <link rel="stylesheet" href="{{ absolute_url(asset('backoffice/css/app.css')) }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>
    <script src="{{ asset('backoffice/js/upload-init.js') }}"></script>
    <script type='text/javascript'>
        $("input[data-preview]").change(function() {
            var $input = $(this);
            var fileReader = new FileReader();
            fileReader.readAsDataURL(this.files[0]);
            fileReader.onload = function(fileEvent) {
                $($input.data('preview')).attr('src', fileEvent.target.result);
            };
        });
    </script>
{% endblock %}

